<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/6/6a/Godot_icon.svg">
      <title>Have a new friends</title>
  <style>
    body{
      background-image: url(https://o.aolcdn.com/images/dims?crop=5708%2C4134%2C0%2C0&quality=85&format=jpg&resize=1600%2C1159&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Ff595fd83478ace5bc5ff3b76c84850e9%2F206255799%2Fandromeda-galaxy-picture-id680804035&client=a1acac3e1b3290917d92&signature=1e1621698eb1bb62b9edca5efe2c4ebf5df1980a);
      background-position: center;
            background-size: cover;
   }
   nav{
     color: rgba(0, 200, 250, 0.918);
   }
   center{
    margin-right: 600px;
   }
   form{
     margin-left: 20px;
   }
   input{

     padding: 10px;
   }
  
 
  </style>
</head>
<body>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">

      <a href="/create" class="btn btn-small btn-primary">New</a>
      <br>
      <br>
      <a href="/2" class="btn btn-small btn-primary">Home</a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1><center>The Form </center></h1>
  </nav>
</div>

<br>
<br>
<br>
<form method="POST" action="/from_data" >
  <input type="text" placeholder="Name" name="Name">
  <br>
  <br>
  <input type="text" placeholder="age" name="age">
  <br>
  <br>
  <input type="text" placeholder="phone number" name="phone_number">
  <br>
  <br>
  <input type="text" placeholder="likes" name="likes">
  <br>
  <br>
  <input type="text" placeholder="birthday" name="birthday">
  <br>
  <br>
  <input type="text" placeholder="review" name="review">
  <br>
  <br>
  <button class="btn btn-primary">
    submit
  </button>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>